@font-face {
  font-family: 'Bernier';
  src: url('../fonts/BERNIERDistressed-Regular.otf');
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-content {
  padding-left: 100px;
  padding-right: 100px;
}

p {
  margin: 0;
}

li {
  margin: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.header,
.footer {
  background-color: black;
}

.header-container,
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}

.footer-container div:last-of-type {
  margin-top: 4px;
  margin-right: 50px;
}

.icons {
  margin-left: 130px;
}

@media screen and (max-width: 1024px) {
  .icons {
    margin-left: 57px;
  }
}

.icons a img {
  margin-right: 15px;
}

.logo img {
  margin-left: 50px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  list-style: none;
}

.navigation-list__item a {
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 47px;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .navigation-list__item a {
    margin-right: 27px;
  }
}

.navigation-list__item a:hover {
  color: #f71616;
  transition: color 0.5s;
}

.phone {
  margin-right: 50px;
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #fc1a1a;
}

.about-us-section {
  height: 620px;
  background-image: url('../img/DSCF9095.jpg');
  background-size: cover;
  padding-top: 194px;
  padding-bottom: 208px;
  position: relative;
}

.about-us-section-overlay {
  content: '';
  background-color: rgba(80, 78, 78, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 620px;
  position: absolute;
  margin-top: 80px;
}

.section-second-container {
  display: flex;
  max-width: 56rem;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
}

.section-second-right,
.section-second-left {
  max-width: 400px;
}

.up {
  cursor: pointer;
  position: fixed;
  top: 530px;
  height: 80px;
  width: 80px;
  background: url('../img/up-chevron.svg');
}

@media screen and (max-width: 1024px) {
  .up {
    height: 50px;
    width: 50px;
    top: 620px;
    margin-left: -75px;
  }
}

@media screen and (max-width: 768px) {
  .up {
    display: none;
  }
}

.circle {
  top: 50px;
  margin-left: 1150px;
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid #000000;
  text-align: center;
  line-height: 150px;
  font-size: 22px;
}

.circle span {
  display: inline-block;
  color: #c21616;
  width: 25px;
  position: absolute;
  transform: translate(-12.5px, -5px) rotate(var(--rot)) translate(90px, 5px);
}

@media screen and (max-width: 1024px) {
  .circle {
    display: none;
  }
}

.title {
  font-size: 20px;
  list-style: none;
  text-align: center;
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #c21616;
}

.title--main {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 45px;
  line-height: 53px;
  text-transform: uppercase;
}

.text {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10px;
}

.intro {
  max-width: 36rem;
  margin: 0 auto;
}

.foto img {
  margin-bottom: 20px;
}

.section-booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77vh;
  background-image: url('../img/DSCF59741__.png');
  background-blend-mode: hue;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  padding: 15px 20px;
  border: 2px solid black;
  box-shadow: inset 2px 2px 5px rgba(194, 148, 148, 0.5),
    1px 1px 5px rgb(199, 148, 148);
  background-color: rgb(221, 221, 221);
}

.description-clue {
  margin-bottom: 5px;
}

.input-clue {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #474747;
  font-family: 'PT Sans', sans-serif;
}

.description-checkbox > input[type='checkbox'] {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.description-checkbox > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #2b2a2a;
  background-color: rgb(255, 255, 255);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 1px;
}

.description-checkbox > input:checked + span::before {
  background-image: url('/img/checked.jpg');
}

.button {
  font-family: 'Bernier';
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c21616;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 5px;
  width: 200px;
  height: 51px;
  border-color: transparent;
  margin-top: 30px;
  align-self: center;
}

.answer-form {
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}

.section-menus,
.section-contacts {
  height: 74vh;
}

.menu-subtitle {
  margin-top: 20px;
  align-self: center;
}

.slider {
  margin-top: 15px;
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

input[data-name='images'] {
  cursor: pointer;
}

.menus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menus-container div a:hover {
  color: #f71616;
  transition: color 0.5s;
}

.menus-container--1 {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.menus-container--1 a {
  width: 50%;
  text-align: center;
}

.section-contacts {
  text-align: center;
}

.section-contacts p:last-of-type {
  margin-bottom: 30px;
}

.wrong {
  text-align: center;
}

.wrong h1 {
  margin-top: 17px;
}

.wrong img {
  margin-bottom: 10px;
}
