@font-face {
  font-family: 'Bernier';
  src: url('../fonts/BERNIERDistressed-Regular.otf');
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section-content {
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 767px) {
  .section-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 424px) {
  .section-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

p {
  margin: 0;
}

li {
  margin: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.hidden {
  display: none;
}

.header,
.footer {
  background-color: black;
}

.header-container,
.footer-container {
  padding-left: 100px;
  padding-right: 100px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  color: #ffffff;
  font-size: 11px;
}

.footer-container div:last-of-type {
  margin-top: 4px;
  margin-right: 90px;
}

.icons {
  margin-left: 130px;
}

@media screen and (max-width: 1299px) {
  .icons {
    margin-left: 57px;
  }
}

@media screen and (max-width: 1023px) {
  .footer-container div:last-of-type {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .icons {
    margin-left: 5px;
  }

  .icons a img {
    width: 25px;
  }

  .footer-container div:last-of-type {
    margin-right: 5px;
  }

  .footer-container div:last-of-type img {
    width: 50px;
  }
}

@media screen and (max-width: 374px) {
  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.icons a img {
  margin-right: 15px;
}

.logo img {
  margin-left: 50px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .navigation-list,
  .phone {
    display: none;
  }

  .logo img {
    margin-left: -75px;
    margin-right: 47px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list,
  .phone {
    display: none;
  }
}

@media screen and (max-width: 424px) {
  .logo img {
    margin-left: -105px;
    margin-right: 47px;
  }
}

.navigation-list__item a {
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 47px;
  align-self: center;
}

@media screen and (max-width: 1299px) {
  .navigation-list__item a {
    margin-right: 27px;
  }
}

.navigation-list__item a:hover {
  color: #f71616;
  transition: color 0.5s;
}

.phone {
  margin-right: 50px;
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #fc1a1a;
}

.burger {
  display: none;
}

.open {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .header {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 99999;
  }

  .menu-hidden {
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    top: 80px;
    padding-bottom: 155px;
    position: fixed;
    z-index: 1000;
  }

  .menu-hidden-list {
    text-align: center;
  }

  .menu-hidden-list a {
    font-family: 'Bernier';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 85px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
  }

  .burger {
    display: block;
    margin-right: -75px;
  }

  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .hamburger {
    margin: 0 auto;

    width: 30px;
    height: 30px;
    position: relative;
  }

  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fc1a1a;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }

  .bar1 {
    top: 0;
  }

  .bar2,
  .bar3 {
    top: 13.5px;
  }

  .bar3 {
    right: 0;
  }

  .bar4 {
    bottom: 0;
  }

  .checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px;
  }

  .checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
  }
}

@media screen and (max-width: 424px) {
  .hamburger {
    width: 25px;
  }

  .hamburger .bar {
    width: 25px;
  }

  .burger {
    margin-right: -95px;
  }
}

@media screen and (max-width: 374px) {
  .menu-hidden-list a {
    font-size: 35px;
  }
}

.about-us-section {
  height: 520px;
  background-image: url('../img/DSCF9095.jpg');
  background-size: cover;
  padding-top: 194px;
  padding-bottom: 208px;
  position: relative;
}

.about-us-section-overlay {
  content: '';
  background-color: rgba(80, 78, 78, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 520px;
  position: absolute;
  margin-top: 80px;
}

@media screen and (max-width: 1023px) {
  .about-us-section {
    height: 220px;
  }

  .about-us-section-overlay {
    height: 403px;
  }
}

@media screen and (max-width: 767px) {
  .about-us-section {
    padding-top: 0;
    height: 200px;
  }

  .about-us-section-overlay {
    height: 207px;
  }
}

.section-second-container {
  display: flex;
  max-width: 56rem;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .section-second-container {
    flex-direction: column;
    align-items: center;
  }
}

.section-second-right,
.section-second-left {
  max-width: 400px;
}

@media screen and (max-width: 424px) {
  .section-second-right,
  .section-second-left {
    max-width: 350px;
  }
}

.up {
  cursor: pointer;
  position: fixed;
  top: 530px;
  height: 80px;
  width: 80px;
  background: url('../img/up-chevron.svg');
}

@media screen and (max-width: 1299px) {
  .up {
    height: 50px;
    width: 50px;
    top: 620px;
    margin-left: -75px;
  }
}

@media screen and (max-width: 1023px) {
  .up {
    display: none;
  }
}

.circle {
  top: 50px;
  margin-left: 1120px;
  position: fixed;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid #000000;
  text-align: center;
  line-height: 110px;
  font-size: 22px;
}

.circle span {
  display: inline-block;
  color: #c21616;
  width: 25px;
  position: absolute;
  transform: translate(-12.5px, -5px) rotate(var(--rot)) translate(75px, 5px);
}

@media screen and (max-width: 1299px) {
  .circle {
    display: none;
  }
}

.title {
  font-size: 30px;
  list-style: none;
  text-align: center;
  font-family: 'Bernier';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #c21616;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title--main {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 65px;
  line-height: 53px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.logo-in-title {
  width: 36.5px;
  height: 51px;
  background-image: url('../img/logo.svg');
}

.text {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 1023px) {
  .section-second-right p,
  .section-second-left p {
    text-align: center;
  }
}

.intro {
  text-align: center;
  max-width: 36rem;
  margin: 0 auto;
}

.foto img {
  margin-bottom: 20px;
}

@media screen and (max-width: 424px) {
  .foto img {
    width: 330px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 374px) {
  .foto img {
    width: 300px;
    padding-left: 0px;
  }
}

.section-booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  background-image: url('../img/DSCF59741__.png');
  background-blend-mode: hue;
  background-size: cover;
}

@media screen and (max-width: 1299px) {
  .section-booking-container {
    height: 80vh;
  }
}

@media screen and (max-width: 424px) {
  .section-booking-container {
    height: 80vh;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  padding: 0 20px 25px;
  border: 2px solid rgba(0, 0, 0, 0.363);
  box-shadow: 13px -10px 0px 0px rgb(255, 255, 255);
  background-color: rgb(221, 221, 221);
}

@media screen and (max-width: 1299px) {
  .form {
    margin-top: 77px;
    align-items: center;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 424px) {
  .form {
    margin-top: 37px;
    align-items: center;
    padding: 10px 10px;
  }
}

.description-clue {
  margin-bottom: 5px;
}

.input-clue {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #474747;
  font-family: 'PT Sans', sans-serif;
}

.description-checkbox > input[type='checkbox'] {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.description-checkbox > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #2b2a2a;
  background-color: rgb(255, 255, 255);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border-radius: 1px;
}

.description-checkbox > input:checked + span::before {
  background-image: url('/img/checked.jpg');
}

@media screen and (max-width: 1299px) {
  .description-checkbox {
    font-size: 14px;
  }
}

@media screen and (max-width: 424px) {
  .description-checkbox {
    font-size: 13px;
  }
}

@media screen and (max-width: 374px) {
  .description-checkbox {
    font-size: 11px;
  }
}

.button {
  font-family: 'Bernier';
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c21616;
  box-shadow: 13px 11px 18px 0px #c21616;
  border-radius: 5px;
  width: 200px;
  height: 51px;
  border-color: transparent;
  margin-top: 30px;
  align-self: center;
}

.answer-form {
  margin-top: 100px;
  text-align: center;
  padding: 50px;
}

.section-menus,
.section-contacts {
  height: 79.5vh;
}

.menu-subtitle {
  align-self: center;
}

.slider {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  border: 3px solid #000000;
  box-shadow: 8px 7px 21px 0px rgba(50, 50, 50, 0.75);
  width: fit-content;
  height: 326px;
}

@media screen and (max-width: 1299px) {
  .section-menus,
  .section-contacts {
    height: 76vh;
  }
}

@media screen and (max-width: 767px) {
  .section-menus,
  .section-contacts {
    height: 70vh;
  }

  .section-menus {
    margin-top: 79px;
  }

  .slider {
    height: 206px;
  }

  .slider img {
    height: 200px;
  }
}

@media screen and (max-width: 424px) {
  .section-menus,
  .section-contacts {
    height: 72vh;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

input[data-name='images'] {
  cursor: pointer;
}

.menus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menus-container div a:hover {
  color: #f71616;
  transition: color 0.5s;
}

.menus-container--1 {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.menus-container--1 a {
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menus-container--1 {
    width: 80vw;
  }
}

.section-contacts {
  text-align: center;
}

.section-contacts p:last-of-type {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .section-contacts {
    margin-top: 80px;
  }
  .map {
    width: 370px;
    height: 220px;
  }
}

@media screen and (max-width: 424px) {
  .section-contacts {
    margin-top: 60px;
  }

  .map {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 374px) {
  .map {
    width: 300px;
    height: 160px;
  }
}

.wrong {
  text-align: center;
  height: 80vh;
}

.wrong h1 {
  margin-top: 17px;
}

.wrong img {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .wrong img {
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .wrong img {
    width: 300px;
  }
}
