<div class="container section-content wrong">
  <h1 class="title title--main">Ошибка 404.</h1>
  <p class="text">Ой, кажется не та дверь.</p>
  <p class="text">
    Попробуйте всё <span class="title"><a href="/">сначала</a></span> или просто приходите к <span class="title"><a href="/contacts">нам</a></span>!
  </p>
  <img src="/img/TX3V.gif" alt="wrong">

</div>
