<div class="section-booking-container">
  <form id="booking_form" class="form" action="/bookings" method="POST">
    <h3 class="title">
      Бронирование стола
    </h3>
    <div>
      <div class="input-clue">
        <p class="description-clue text">Введите Ваше имя:</p>
        <input name="name" type="text" placeholder="Ваше имя" required>
      </div>
      <div class="input-clue">
        <p class="description-clue text">Введите Ваш телефон:</p>
        <input name="phone" type="tel" placeholder="+7 (XXX) XXX-XX-XX" required>
      </div>
      <div class="input-clue">
        <p class="description-clue text">
          Дата бронирования стола:
        </p>
        <input name="date" type="date" required>
      </div>
      <div class="input-clue">
        <p class="description-clue text">
          Время бронирования стола:
        </p>
        <input name="time" type="time" required>
      </div>
    </div>
    <label class="description-clue text description-checkbox">
      <input name="checkbox" type="checkbox" required>
      <span>Я согласен на обработку персональных данных</span>
    </label>
    <input name="bookButton" class="button" type="submit" value="Забронировать">
  </form>
</div>
