<section class="container section-content section-menus">
  <h3 class="title menu-subtitle">Наше меню</h3>
  <div class="menus-container">
    <div class="text menus-container--1">
      <a href="/files/Main.pdf" target="_blank">Основное меню</a>
      <a href="/files/Wine_card.pdf" target="_blank">Винная карта</a>
    </div>
    <div class="text menus-container--1">
      <a href="/files/English_menu.pdf" target="_blank">English menu</a>
      <a href="/files/Kids_menu.pdf" target="_blank">Детское меню</a>
    </div>
    <div class="text">
      <a href="/files/Lunch_menu.pdf" target="_blank">Меню бизнес-ланчей</a>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url(/img/slider/DSCF06311.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/DSCF12591.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/DSCF13171.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/DSCF16791.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/DSCF38681.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/_DSF42531.jpg); width: 400px !important; height: 267px !important"></div>
      <div class="swiper-slide" style="background-image:url(/img/slider/photo351.jpg); width: 400px !important; height: 267px !important"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
