<footer class="footer">
  <div class="container footer-container">
    <div class="icons">
      <a href="tel:+79108650101">
        <img src="/img/icons/smartphone.svg" alt="icon" width="35px">
      </a>
      <a href="https://www.instagram.com/tochka_rest/">
        <img src="/img/icons/instagram.svg" alt="icon" width="35px">
      </a>
      <a href="https://vk.com/tochkaobninsk">
        <img src="/img/icons/vk.svg" alt="icon" width="35px">
      </a>
    </div>

    <div>
      <img src="/img/tochka_logo.svg" alt="logo" width="100px">
      <p class="text">Copyright. All Rights Reserved © 2020</p>
    </div>
  </div>
</footer>
