<header class="header">
  <div class="container header-container">
    <div class="logo">
      <img src="/img/logo.svg" alt="icon" width="40px">
    </div>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-list__item"><a href="/">О нас</a></li>
        <li class="navigation-list__item"><a href="/menus">Меню</a></li>
        <li class="navigation-list__item"><a href="/bookings">Забронировать стол</a></li>
        <li class="navigation-list__item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>
    <a href="tel:+79108650101" class="phone">+7 (910) 865 01 01</a>
    <div class="burger">
      <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden">
      <label for="checkbox1">
        <div class="hamburger hamburger1">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
        </div>
      </label>
    </div>

  </div>
  <div class="hidden menu-hidden">
    <nav>
      <ul class="menu-hidden-list">
        <li class="menu-hidden-list__item"><a href="/">О нас</a></li>
        <li class="menu-hidden-list__item"><a href="/menus">Меню</a></li>
        <li class="menu-hidden-list__item"><a href="/bookings">Забронировать стол</a></li>
        <li class="menu-hidden-list__item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>
  </div>

</header>
