<header class="header">
  <div class="container header-container">
    <div class="logo">
      <img src="/img/logo.svg" alt="icon" width="40px">
    </div>
    <nav>
      <ul class="navigation-list">
        <li class="navigation-list__item"><a href="/">О нас</a></li>
        <li class="navigation-list__item"><a href="/menus">Меню</a></li>
        <li class="navigation-list__item"><a href="/bookings">Забронировать стол</a></li>
        <li class="navigation-list__item"><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>
    <a href="tel:+79108650101" class="phone">+7 (910) 865 01 01</a>

  </div>
</header>
